.vertical-border {
  padding: 1px;
  margin: 8px 15px 0 14px;
  border-right: 1px solid #dadada;
}

html {
  font-size: 12px;
}

body {
  overflow: none;
  height: 100%;
  min-height: 100vh;
}

@media (max-width: 767.98px) {
  body {
    overflow: auto !important;
  }
}

.sidebar {
  border-bottom: 1px solid rgba(0,0,0,.1);
}

@media (min-width: 768px) {
  .sidebar {
    height: 100vh;
    border-right: 1px solid rgba(0,0,0,.1);
  }
}

  .control {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-right: -15px;
    margin-left: -15px;
  }

  @media (min-width: 768px) {
    .control {
      display: block!important;
      max-height: 100vh;
      overflow-y: auto;
    }
  }

.image-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 50vh;
  background: #cacaca;
  overflow: hidden;
}

@media (max-width: 767.98px) {
  .image-holder {
    height: 25vh;
  }
}

  .main-image {
    width: 100%;
    height: 100%;
  }

.image-utilities {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}

  .image-strip {
    flex: 1;
    overflow: hidden;
  }

    .strip-container-scrollable {
      overflow-x: auto;
    }

      .strip-container {
        display: flex;
        flex-direction: row;
        margin-bottom: 0;
        padding-left: 0;
        list-style: none;
      }

        .strip-item {
          margin: 10px 5px;
          padding: 0;
          width: 100px;
          height: 100px;
          cursor: pointer;
        }

          .strip-item.selected {
            border: 3px solid #3388DD !important;
          }

            .strip-container img {
              width: 100px;
              height: 100px;
              object-fit: contain;
              border: 1px solid #cacaca;
            }

            .strip-item.selected img {
              width: 94px;
              height: 94px;
              border: 2px solid #ffffff;
            }

  .image-uploader {
    height: 150px;
    padding-left: 5px;
    margin-bottom: 7px;
  }

.result-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 50vh;
  background: #cacaca;
  overflow: hidden;
}

  .result-image {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 0 1px #fff;
  }

@media (max-width: 767.98px) {
  .result-container {
    height: 25vh;
  }
}
